@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300');

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: rgb(253, 253, 253);
}

.calendar {
    color: rgb(0, 0, 0);
}

.calendar-header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
    border-radius: 8px;
}

.calendar .calendar-header table th {
    transition-duration: .5s;
}

.anunya-kontak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    padding: 0 2rem;
    background: rgb(24, 24, 24);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
}

.anunya-kontak a, p, h2 {
    color: white;
    text-shadow: 0px 0px 30px black;
}